#################################
# By default, ignore all files
#################################
*
#################################
# Share this stuff
#################################
!.gitignore
!*.md
!*.yaml
!*.sh
!automations/
!custom_components/
!custom_components/*
!custom_components/**
!entities/
!entities/*
!entities/**
!influxdb_conf/
!lovelace/
!lovelace/*
!packages/
!packages/*
!scripts/
!themes/
!themes/*
!themes/**
!blueprints/
!blueprints/*
!blueprints/**
!www/
!www/weather_icons/
!www/weather_icons/*
#################################
# Don't include this
#################################
.cloud
.storage
#customize.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml