#################################
# By default, ignore all files
#################################
*
#################################
# Share this stuff
#################################
!.gitignore
!*.md
!*.yaml
!*.sh
!automations/
!custom_components/
!custom_components/*
!custom_components/**
!docs/
!docs/*
!docs/**
!entities/
!entities/*
!entities/**
!esphome/
!esphome/*.yaml
!esphome/common/
!esphome/include/
!esphome/include/*
!glances/
!glances/glances.conf
!influxdb_conf/
!lovelace/
!lovelace/*
!packages/
!packages/*
!scripts/
!themes/
!themes/*
!themes/**
!blueprints/
!blueprints/*
!blueprints/**
!www/
!www/community/
!www/community/*
!www/community/**
!www/weather_icons/
!www/weather_icons/*
!zigpy_ota/
!zigpy_ota/*
#################################
# Don't include this
#################################
.cloud
.storage
.esphome
*/**/__pycache__/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
#customize.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
packages/pack_private.yaml
go2rtc.yaml