#################################################
# Core config
#################################################

homeassistant:
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 172.16.16.0/23
      trusted_users:
        172.16.16.0/23: 5eb99a825ace48779fad323aac28014d
  name: Home, Sweet Home...
  internal_url: "http://172.16.16.245:8123"
  time_zone: !secret home_timezone
  unit_system: metric
  currency: RUB
  country: RU
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  packages: !include_dir_merge_named packages
  allowlist_external_dirs:
    - /config/
    - /config/www/weather_icons/
    - /config/www/cam_snapshots/
    - /config/video/

#################################################
# Features
#################################################

default_config:

api:

hassio:

wake_on_lan:


http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.16.16.5
  ip_ban_enabled: true
  login_attempts_threshold: 3

logger:
  default: warn
  #logs:
  #  homeassistant.components.rest: debug
  filters:
    homeassistant.loader:
      - "We found a custom integration .* which has not been tested by Home Assistant.*"
    zeroconf:
      - "Received invalid packet from .* at offset .* while unpacking .*"
    inter_rao_energosbyt.api.moscow:
      - ".* EnergosbytException..Client error: Cannot connect to host .*"

system_log:
  max_entries: 50
  fire_event: true

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/community/custom-brand-icons/custom-brand-icons.js

lovelace: !include lovelace/lovelace.yaml

recorder:
  db_url: !secret mysql_url
  purge_keep_days: 7
  exclude:
    domains:
      - updater
      - automation
      - script
      - camera
      - input_datetime
      - input_number
      - input_select
    entity_globs:
      - sensor.*_zigbee
      - sensor.*_ble
      - sensor.*_rssi
      - sensor.keenetic_gateway_*
      - sensor.*_poslednee_uvedomlenie
      - sensor.gosund_sp111_*_volt
      - button.*_identify
      - sensor.watchman_*
      - sensor.tplink_smartplug_*_voltage
      - binary_sensor.*_nut_gray_1_presence
      - sensor.air_monitor_lite_*_humidity
      - sensor.*_last_seen
      - input_number.*_window_light_illuminance_threshold
      - input_number.*_covers_illuminance_threshold
      - sensor.*_target_distance
    entities:
      - sensor.time
      - sensor.date
      - sensor.date_time_iso
      - sensor.date_formatted
      - sensor.date_current_month
      - sensor.date_previous_month
      - sensor.uptime
      - sensor.ha_uptime
      - sensor.ha_uptime_text
      - sensor.moon
      - sun.sun
      - counter.syslog_errors
      - counter.syslog_warnings
      - sensor.huawei_e5372_current_connection_duration
      - sensor.huawei_e5372_rssi
      - sensor.huawei_e5372_sinr
      - sensor.energy_flat_main_voltage
      - sensor.energy_flat_main_current
      - sensor.sonoff_1001322978_current
      - sensor.sonoff_1001322978_power
      - sensor.sonoff_1001322978_voltage
      - sensor.shellyem_34945470f5db_channel_1_power_factor
      - sensor.shellyem_34945470f5db_channel_1_energy_returned
      - sensor.saures_api_sid
      - sensor.saures_water_meter_09_104476_cold
      - sensor.saures_water_meter_13193152_hot
    event_types:
      - call_service

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: !secret influxdb_user
  password: !secret influxdb_pass
  max_retries: 5
  default_measurement: state
  tags_attributes:
    - friendly_name
  include:
    entities: !include influxdb_conf/influxdb_include_entities.yaml
    entity_globs: !include influxdb_conf/influxdb_include_entity_globs.yaml
  component_config_glob:
    sensor.*_zigbee:
      ignore_attributes:
        - state
        - msg_received
        - last_msg

tts:
  - platform: google_translate
    language: "ru"

telegram_bot:
  - platform: webhooks
    api_key: !secret telegram_bot_token
    allowed_chat_ids:
      - !secret tlg_stall_id
      - !secret tlg_iborisochka_id
      - !secret tlg_group_flat_1
      - !secret tlg_group_system
      - !secret tlg_group_staircase
      - !secret tlg_group_country_house

notify:
  - name: telegram_stall
    platform: telegram
    chat_id: !secret tlg_stall_id
  - name: telegram_iborisochka
    platform: telegram
    chat_id: !secret tlg_iborisochka_id
  - name: telegram_group_flat_1
    platform: telegram
    chat_id: !secret tlg_group_flat_1
  - name: telegram_group_system
    platform: telegram
    chat_id: !secret tlg_group_system
  - name: sms_rest
    platform: rest
    resource: !secret sms_rest_addr
    method: POST
    target_param_name: "num"
    title_param_name: "subj"
    message_param_name: "text"

zha:
  zigpy_config:
    ota:
      otau_directory: /config/zigpy_ota
      ikea_provider: true
  device_config:
    00:15:8d:00:05:4e:ac:c7-1:
      type: "switch"
    00:15:8d:00:05:4e:ac:c7-2:
      type: "switch"

folder_watcher:
  - folder: /config/video

calendar:
  - platform: caldav
    username: !secret nc_ha_user
    password: !secret nc_ha_pass
    url: !secret nc_calendar_url
    custom_calendars:
      - name: "School Vacation Egor"
        calendar: "Семья (Alexander Borsiov)"
        search: "Каникулы - Егор"
      - name: "Vacation"
        calendar: "Семья (Alexander Borsiov)"
        search: "Отпуск"

yandex_station:
  include:
    - Водонагреватель
  media_players:
    - entity_id: media_player.mini_v_vannoi
      name: Мини в Ванной
      sync_volume: false

start_time:

#samsungtv: !include entities/samsungtv/samsungtv.yaml

yandex_smart_home: !include entities/yandex_smart_home/yandex_smart_home.yaml

vacuum_zones: !include entities/vacuum_zones/vacuum_zones.yaml

#################################################
# Inclusions
#################################################

automation: !include_dir_merge_list automations
automation gui: !include automations.yaml
script: !include_dir_merge_named scripts
script gui: !include scripts.yaml
group: !include groups.yaml
camera: !include_dir_merge_list entities/camera
counter: !include_dir_merge_named entities/counter
device_tracker: !include_dir_merge_list entities/device_tracker
sensor: !include_dir_merge_list entities/sensor
binary_sensor: !include_dir_merge_list entities/binary_sensor
template: !include_dir_merge_list entities/template
command_line: !include_dir_merge_list entities/command_line
light: !include_dir_merge_list entities/light
switch: !include_dir_merge_list entities/switch
fan: !include_dir_merge_list entities/fan
media_player: !include_dir_merge_list entities/media_player
input_select: !include_dir_merge_named entities/input_select
input_number: !include_dir_merge_named entities/input_number
input_datetime: !include_dir_merge_named entities/input_datetime
input_boolean: !include_dir_merge_named entities/input_boolean
input_text: !include_dir_merge_named entities/input_text
input_button: !include_dir_merge_named entities/input_button
shell_command: !include_dir_merge_named entities/shell_command
rest_command: !include_dir_merge_named entities/rest_command
schedule: !include_dir_merge_named entities/schedule
yeelight: !include entities/yeelight/yeelight.yaml
sonoff: !include entities/sonofflan/sonofflan.yaml
#thermal_comfort: !include entities/thermal_comfort/thermal_comfort.yaml
yandex_station_intents: !include entities/yandex_station_intents/yandex_station_intents.yaml
