title: Security
path: cctv
icon: mdi:cctv
cards:
  - type: vertical-stack
    cards:
      - type: picture-glance
        title: Подъезд
        entities: []
        camera_image: camera.reolinkcam_01_rtsp
      - type: button
        entity: input_boolean.staircase_show_last_person
        name: "\U000021E7 Последнее обнаружение \U000021E9"
        show_state: false
        show_icon: false
        tap_action:
          action: toggle
      - type: conditional
        conditions:
          - entity: input_boolean.staircase_show_last_person
            state: "on"
        card:
          type: picture-entity
          entity: camera.reolinkcam_01_person
          show_name: false
          show_state: false
  - type: vertical-stack
    cards:
      - type: picture-glance
        title: Прихожая
        entities:
          - light.sonoff_1000f2f14a
        camera_image: camera.dafangcam_02_rtsp
  - type: vertical-stack
    cards:
      - type: picture-glance
        title: Детская
        entities:
          - light.ikea_e27_detskaia
        camera_image: camera.dafangcam_03_rtsp
      - type: entities
        show_header_toggle: false
        entities:
          - entity: automation.dvizhenie_v_detskoi
            name: Контроль движения в Детской
            icon: mdi:motion-sensor
  - type: picture-glance
    title: Гостиная
    entities:
      - light.sonoff_1000f30a9e
    camera_image: camera.dafangcam_01_rtsp
